@import url('https://fonts.googleapis.com/css?family=Cinzel|Hanalei+Fill|Kalam|Monoton');
/*
font-family: 'Cinzel', serif; body
font-family: 'Kalam', cursive;  subtitle
font-family: 'Monoton', cursive;
font-family: 'Hanalei Fill', cursive;
*/

.page-wrapper {
	display: grid;
	grid-template-columns: 83% 17% ;
	text-align: justify-all;
	text-indent: 25px;
}
body { 
	/*background-image: url("https://images.freeimages.com/images/large-previews/114/free-background-light-rainbow-1639351.jpg");*/
	background-image: url("https://wallpaper.campus-star.com/app/uploads/2016/08/wall-pink09.jpg");	
	background-repeat: no-repeat;
	background-position: inherit;
	background-attachment: fixed;


	font-family: 'Kalam', cursive;
	font-size: 1.1em;
	color: black;
	text-decoration: none;
}
#zen-intro{
	margin: 20px 10px ; /* TopDown RightLeft */
	grid-area: 1 / 1 / 2 / 2 ; /* R-start / C-start / R-end / C-end; */
	align-content: flex-start;
	background-image: url("https://vignette.wikia.nocookie.net/adventuretimeultra/images/e/e9/Pastel_Dots_Wallpaper.png/revision/latest?cb=20131129215804");
	background-repeat: no-repeat;
	background-position: all;
	background-size: 100%;

}
/*#zen-intro header {
	position: relative;
	animation-name: test;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}*/
.sidebar{
	text-indent: 0px;
	margin: 20px 3px 0px; /* Top RightLeft Down */
	grid-area: 1 / 2 / 3 / 3 ;
}
#zen-summary{
	text-align: center;

}
#zen-supporting {
	margin: 0px 10px 10px ;
	grid-area: 2 / 1 / 2 / 2 ; /* Rs / Cs / Re / Ce; */
	display: grid;
	grid-template-areas: 'A B' 'C C' 'D D' 'E F';
} 
.explanation{     
	grid-area: A; 
} 
.participation{     
	grid-area: B; }
.benefits{     
	grid-area: C; } 
.requirements{     
	grid-area: D; } 
a {
	color: black;}

.wrapper a {
	color: #c8c8c8;
}
.wrapper li {
	/*background-color: #272b30;*/
    background-image: linear-gradient(#484e55, #3a3f44 60%, #313539);
	border: 3px ridge #7A7A7A;
	margin: 0px 0px;
}
.wrapper h3 {
	background-color: #F75B49;
	border: 3px ridge #7A7A7A;
	margin-top: 0px;
}
.wrapper div {
	background-image: linear-gradient(black , gray 40%, lightgray);
	margin: 5px 0px;
	/*background-color: #242323;*/
	border: 3px ridge #7A7A7A;
}
#zen-supporting div {
	border: 5px double black;
	border-radius: 10px;
	margin: 5px 5px;
}
#zen-supporting footer {
	text-align: center;
}
/*,.explanation*/
.requirements {
	background-image: url("https://png.pngtree.com/thumb_back/fw800/back_pic/05/16/72/1159b61bef7863d.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 125%;
	background-position: top;
}
header > h1{     
	/*font-family: 'Hanalei Fill', cursive;*/
	margin-top: 0px;
	font-family: 'Cinzel',serif;      
	font-size: 4.7em;     
	text-align: center;     
	border: 5px ridge gray;     
	/*background-color: #f7f2f2;*/     
	background-color: #FBBB9F;
	background-image: url("https://i687.photobucket.com/albums/vv237/4-one/4-1/HT/Bllng_12.png");

	animation-name: glowText;
	animation-duration: 1s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}
header > h2 {
	line-height: 10px;
	font-size: 1.5em;
	position: relative;
	animation-name: moving;
	animation-duration: 3s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}
h3{
	font-family: 'Kalam', cursive;
}

@keyframes glowText {
	from {
    	text-shadow: 0px 0px 0px white;
    }
	to {
    	text-shadow: 0px 0px 30px red;
    }
}

@keyframes moving {
	from {
    margin-left: 0%;
    width: 100%; 
  }

  to {
    margin-left: 70%;
    width: 50%;
  }
}

